<div  [style.borderColor]="todo.priority | priorityColor" *ngIf="todo" class="container">
<span>{{todo.name | uppercase}}</span>
<a routerLink="/todo/{{todo.id}}">Dettagli</a>
<span>{{todo.tags}}</span>
<span>{{todo.creationDate | epochFormatter}}</span>
<span>{{todo.id}}</span>
<span *ngIf="todo.doneDate">{{todo.doneDate | epochFormatter}}</span>
<div>
    <button (click)="todoCompleted.emit(todo)" [style.backgroundColor]="todo.priority | priorityColor" *ngIf="!todo?.doneDate">Completato</button>
    <button (click)="todoDeleted.emit(todo)" class="delete-btn" *ngIf="todo?.doneDate">Elimina</button>
</div>
</div>
