.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: solid 4px ;
    border-bottom: solid 4px ;
    border-bottom-left-radius: 8px;
    padding: 8px;
    margin: 8px;
}

button{
    border: none;
    padding: 4px;
    border-radius: 4px;
    color: darkcyan;
    cursor: pointer;
}