.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-left: solid 2px crimson;
    border-bottom: solid 2px crimson;
    border-bottom-left-radius: 8px;
    padding: 8px;
    margin: 8px;


}